{% extends "base.html" %}

{% load static %}

{% block title %}Earth N’ Sky Architects & Engineers{% endblock  %}

{% block parallax %}https://images.pexels.com/photos/4352247/pexels-photo-4352247.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1{% endblock  %}

{% block heading %}PROJECTS{% endblock  %}

{% block body %}

<div class="contact-container">
  <div class="want">
    <span>Know more about us ?</span>
  </div>
  <a href="contact-us">
    <button class="reads">
      <span class="box">
          Contact Us
      </span>
    </button>
  </a>
</div>

<div class="parallax_container3">
    <div class="container pb-5">

      <div class="row projects">
        
        <div class="col-lg-4 col-md-6 col-sm-6 col-6 projects_img">
            <a href="project-details">
              <div class="projects_details" style="background-image: url('https://images.pexels.com/photos/323780/pexels-photo-323780.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1'); background-size: cover; height: 100%;">
                <div class="d-flex text-center flex-column">
                  <h6>Mr.Madhav Karuvattil</h6>
                  <h6>[Apartment]</h6>
                </div>
                <div class="overlay"></div>
              </div>
            </a>
        </div>
        
        <div class="col-lg-4 col-md-6 col-sm-6 col-6 projects_img">
            <a href="project-details">
              <div class="projects_details" style="background-image: url('https://images.pexels.com/photos/323780/pexels-photo-323780.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1'); background-size: cover; height: 100%;">
                <div class="d-flex text-center flex-column">
                  <h6>Mr.Madhav Karuvattil</h6>
                  <h6>[Apartment]</h6>
                </div>
                <div class="overlay"></div>
              </div>
            </a>
        </div>
        
        <div class="col-lg-4 col-md-6 col-sm-6 col-6 projects_img">
            <a href="project-details">
              <div class="projects_details" style="background-image: url('https://images.pexels.com/photos/323780/pexels-photo-323780.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1'); background-size: cover; height: 100%;">
                <div class="d-flex text-center flex-column">
                  <h6>Mr.Madhav Karuvattil</h6>
                  <h6>[Apartment]</h6>
                </div>
                <div class="overlay"></div>
              </div>
            </a>
        </div>
        
        <div class="col-lg-4 col-md-6 col-sm-6 col-6 projects_img">
            <a href="project-details">
              <div class="projects_details" style="background-image: url('https://images.pexels.com/photos/323780/pexels-photo-323780.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1'); background-size: cover; height: 100%;">
                <div class="d-flex text-center flex-column">
                  <h6>Mr.Madhav Karuvattil</h6>
                  <h6>[Apartment]</h6>
                </div>
                <div class="overlay"></div>
              </div>
            </a>
        </div>
        
        <div class="col-lg-4 col-md-6 col-sm-6 col-6 projects_img">
            <a href="project-details">
              <div class="projects_details" style="background-image: url('https://images.pexels.com/photos/323780/pexels-photo-323780.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1'); background-size: cover; height: 100%;">
                <div class="d-flex text-center flex-column">
                  <h6>Mr.Madhav Karuvattil</h6>
                  <h6>[Apartment]</h6>
                </div>
                <div class="overlay"></div>
              </div>
            </a>
        </div>
        
        <div class="col-lg-4 col-md-6 col-sm-6 col-6 projects_img">
            <a href="project-details">
              <div class="projects_details" style="background-image: url('https://images.pexels.com/photos/323780/pexels-photo-323780.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1'); background-size: cover; height: 100%;">
                <div class="d-flex text-center flex-column">
                  <h6>Mr.Madhav Karuvattil</h6>
                  <h6>[Apartment]</h6>
                </div>
                <div class="overlay"></div>
              </div>
            </a>
        </div>
        

      </div>
    </div>
  </div>


{% endblock  %}