{% extends "base.html" %}

{% load static %}

{% block title %}Earth N’ Sky Architects & Engineers{% endblock %}

{% block parallax %}https://images.pexels.com/photos/796602/pexels-photo-796602.jpeg{% endblock %}

{% block heading %}WHAT WE OFFER{% endblock %}

{% block body %}


<div class="container mt-5 mb-5">

    <div class="row">
        <div class="col-lg-6 col-md-12 col-12 d-flex flex-column justify-content-between" data-aos="fade-right" data-aos-delay="100">
            <div class="d-flex flex-column justify-content-between">
                <h2 class="mb-4">TURNKEY PROJECTS</h2>

                <p>
                    We provide end-to-end project execution, from concept to completion.
                    Our turnkey solutions cover design, construction, procurement, and final delivery, ensuring
                    a hassle-free experience for our clients. With a focus on quality, efficiency, and cost-
                    effectiveness, we handle every detail so you can move into a fully completed space with
                    ease.
                </p>

            </div>

            <div class="team_contact">
                <span>KNOW MORE ?</span>
                <a href="contact-us">
                    <button class="reads">
                        <span class="box">
                            Contact Us
                        </span>
                    </button>
                </a>
            </div>

        </div>

        <div class="col-lg-6 col-md-12 col-12" data-aos="fade-right" data-aos-delay="200">
            <div class="team_img">
                <img src="https://images.pexels.com/photos/1648776/pexels-photo-1648776.jpeg" alt="">
            </div>
        </div>
    </div>

    <div class="row mt-5">

        <div class="col-lg-6 col-md-12 col-12" data-aos="fade-right" data-aos-delay="100">
            <div class="team_img">
                <img src="https://images.pexels.com/photos/1090638/pexels-photo-1090638.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                    alt="">
            </div>
        </div>

        <div class="col-lg-6 col-md-12 col-12 d-flex flex-column justify-content-between" data-aos="fade-right" data-aos-delay="200">
            <div class="d-flex flex-column justify-content-between">
                <h2 class="mb-4">TOTAL CONSULTANCY</h2>

                <p class="mb-5">
                    Our comprehensive consultancy services guide clients through every
                    stage of their project. Whether it’s architectural planning, structural engineering, MEP
                    (Mechanical, Electrical, and Plumbing) design, or project management, we provide expert
                    insights and solutions to ensure success. We work closely with clients to optimize designs,
                    manage budgets, and ensure compliance with industry standards.
                </p>

            </div>

            <div class="team_contact">
                <span>KNOW MORE ?</span>
                <a href="contact-us">
                    <button class="reads">
                        <span class="box">
                            Contact Us
                        </span>
                    </button>
                </a>
            </div>

        </div>


    </div>

    <div class="row mt-5">
        <div class="col-lg-6 col-md-12 col-12 d-flex flex-column justify-content-between" data-aos="fade-right" data-aos-delay="100">
            <div class="d-flex flex-column justify-content-between">
                <h2 class="mb-4">INTERIOR DESIGN</h2>

                <p>
                    We create functional, aesthetic, and inspiring interior spaces that reflect
                    your style and purpose. From residential homes to commercial offices, retail spaces, and
                    hospitality venues, our interior design services focus on ergonomics, lighting, materials, and
                    spatial efficiency to enhance comfort and usability.
                </p>

            </div>

            <div class="team_contact">
                <span>KNOW MORE ?</span>
                <a href="contact-us">
                    <button class="reads">
                        <span class="box">
                            Contact Us
                        </span>
                    </button>
                </a>
            </div>

        </div>

        <div class="col-lg-6 col-md-12 col-12" data-aos="fade-right" data-aos-delay="200">
            <div class="team_img">
                <img src="https://images.pexels.com/photos/1571460/pexels-photo-1571460.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                    alt="">
            </div>
        </div>
    </div>

    <div class="row mt-5">

        <div class="col-lg-6 col-md-12 col-12" data-aos="fade-right" data-aos-delay="100">
            <div class="team_img">
                <img src="https://images.pexels.com/photos/8134846/pexels-photo-8134846.jpeg" alt="">
            </div>
        </div>

        <div class="col-lg-6 col-md-12 col-12 d-flex flex-column justify-content-between" data-aos="fade-right" data-aos-delay="200">
            <div class="d-flex flex-column justify-content-between">
                <h2 class="mb-4">LANDSCAPE DESIGN</h2>

                <p class="mb-5">
                    Our landscape designs bring outdoor spaces to life with eco-friendly,
                    visually appealing, and sustainable solutions. Whether it’s residential gardens, urban parks, or
                    commercial landscapes, we craft environments that blend seamlessly with architecture while
                    promoting greenery, relaxation, and environmental harmony.
                </p>

            </div>

            <div class="team_contact">
                <span>KNOW MORE ?</span>
                <a href="contact-us">
                    <button class="reads">
                        <span class="box">
                            Contact Us
                        </span>
                    </button>
                </a>
            </div>

        </div>
    </div>

</div>


{% endblock %}